<% include ../partials/header %>
<!-- <link rel="stylesheet" href="/stylesheets/about.css" /> -->

<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <h3>Find Out More <span>About Us</span></h3>
      <p>At IcePlanet our watchword is Quality.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
        <img src="/images/about.jpg" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100">
        <h3>We take Online Orders and deliver to your doorstep</h3>
        <!-- <p class="font-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p> -->
        <ul>
          <li>
            <i class="fas fa-check-double"></i>
            <div>
              <h5>Quality Produce</h5>
              <p>
                Our Quality Assurance ensures that only the best produce are
                procured and processed for our Customers
              </p>
            </div>
          </li>
          <li>
            <i class="far fa-truck"></i>
            <div>
              <h5>Online Purchase & Delivery</h5>
              <p>
                We have recently invested in our IT, Logistics & Supply Chain
                capabilities to ensure we are able to deliver your online
                purchases to your doorstep
              </p>
            </div>
          </li>
          <li>
            <i class="fas fa-warehouse-alt"></i>
            <div>
              <h5>WholeSale and Corporate Distribution</h5>
              <p>
                We have recently ramped up our storage and channel capacity to cater for wholesale corporate customers
              </p>
            </div>
          </li>
        </ul>
        <p>
          At IcePlanet we are particular to provide high quality frozen foods
          such as Chicken, Turkey, Fish, Burger, Sausages etc, we source for the
          highest grade and on occasions we partner with the respective farmers
          to ensure we get the quality that our customers deserve
        </p>
        Additionally, we also specialize in Online Orders and Home Deliveries
        through our website and wholesale distribution for our corporate
        clients. In the light of the recent Covid-19 outbreak we have our
        distribution channels to ensure
        <p></p>
        <a class="btn btn-warning" href="/contacts">Contact US</a>
      </div>
      
    </div>
  </div>
  
</section>
<!-- End About Section -->

<% include ../partials/footer %>
