
 <div id="WAButton"></div>  
<br><br>
<section id="main-footer" class="text-center"> 
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p> &copy; <a style="color: white;" href="http://www.factorialsystems.io">factorialsystems.io</a></p>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <a style="color: white;" href="https://instagram.com/iceplanetstore"><i class="fab fa-instagram fa-2x"></i></a>
          </div>
          <div class="col-4">
            <a style="color: white;" href="https://www.facebook.com/Ice-Planet-Cold-Store-159368854666977"> <i class="fab fa-facebook-f fa-2x"></i></a>
          </div>
          <div class="col-4">
            <a style="color: white;" href="https://www.linkedin.com/company/ice-planet-cold-store"> <i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/javascripts/floating-wpp.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">  
  $(function () {
          $('#WAButton').floatingWhatsApp({
              phone: '2348188111333', //WhatsApp Business phone number
              headerTitle: 'Chat with IcePlanet on WhatsApp!', //Popup Title
              popupMessage: 'Hello, how can we help you?', //Popup Message
              showPopup: true, //Enables popup display
              buttonImage: '<img src="/images/whatsapp.svg"/>', //Button Image
              //headerColor: 'blue', //Custom header color
              //backgroundColor: 'red', //Custom background button color
              position: "right" //Position: left | right

          });
      });
</script>  
<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
</body>
</html>