<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176014846-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176014846-1');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IcePlanet Cold Store</title>
    <meta name="description" content="We deliver affordable frozen food ranging from chicken, fish, turkey, burger, beef and more, we also do supply and wholesale for larger organizations"/>
    <meta name="robots" content="index, follow" />
<!--    <script src="https://kit.fontawesome.com/0914e779a6.js"></script>-->
    <link rel="stylesheet" href="/fontawesome-pro-5.11.2/css/all.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/floating-wpp.css"/>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-secondary"> -->
    <nav class="navbar navbar-expand-md navbar-custom navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/images/resized4.png" width="30" height="30" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" href="/products">Shop</a>
          </li>

          <!-- Start -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            Ice Planet
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/contacts"
                ><i class="far fa-people-arrows"></i> Contact US</a
              >
              <a class="dropdown-item" href="/contacts/about"
                ><i class="fal fa-sitemap"></i> About US</a
              >
            </div>
          </li>
          <!-- End -->
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/products/shopping-cart" class="nav-link">
              <i class="fal fa-shopping-cart"></i> Cart
              <span class="badge badge-danger"
                ><%= session.cart ? session.cart.totalQty : 0 %></span
              >
            </a>
          </li>

          <% if (!currentUser) { %>
          <li class="nav-item">
            <a href="/users/signin" class="nav-link"
              ><i class="fal fa-sign-in-alt"></i> Login</a
            >
          </li>
          <li class="nav-item">
            <a href="/users/signup" class="nav-link"
              ><i class="fal fa-user-plus"></i> SignUp</a
            >
          </li>

          <% } else { %>

            <% if (currentUser.userType && currentUser.userType === 'admin') { %>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <i class="fal fa-users-cog"></i> Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/orders/manage/1"
                  ><i class="fal fa-truck-container"></i> Manage Orders</a
                >
                <a class="dropdown-item" href="/products/manage/1"
                  ><i class="fal fa-turkey"></i> Manage Products</a
                >
                <a class="dropdown-item" href="/users/list/1"
                  ><i class="fal fa-users"></i> Manage Customers</a
                >
                <a class="dropdown-item" href="#"
                ><i class="fal fa-comments"></i> Manage Comments</a
              ></div>
            </li>
            <% } %>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="far fa-user"></i> <%= currentUser.fullName %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/profile"
                ><i class="fal fa-address-card"></i> Profile</a
              >
              <a class="dropdown-item" href="/users/history/1"
                ><i class="fal fa-files-medical"></i> History</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/signout"
                ><i class="fal fa-sign-out-alt"></i> Logout</a
              >
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div id="error-caption" class="container mt-3">
      <% if (errorMsg && errorMsg.length > 0) { %>
      <div class="alert alert-danger">
        <%=errorMsg%>
      </div>
      <% } %> <% if (successMsg && successMsg.length > 0) { %>
      <div class="alert alert-success">
        <%=successMsg%>
      </div>
      <% } %>
    </div>
