<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/shopping-cart.css" />

<div class="container">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <i class="far fa-times-octagon"></i>
      Not Found

      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <h4>The Requested page cannot be found</h4>
    </div>
  </div>
</div>

<% include ./partials/footer %>
