<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-176014846-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-176014846-1");
    </script>

    <title>IcePlanet Cold Store</title>
    <script src="https://kit.fontawesome.com/0914e779a6.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="landing-header">
      <h1 style="color: #01abd6;">WELCOME TO</h1>
      <div class="mx-auto" style="max-width: 500px; background-color: #06184e;">
        <img src="/images/resized6.png" style="max-width: 100%;" />
      </div>
      <p>We are now Open Mon-Sat, 8am - 7pm Thanks for your patronage</p>
      <a href="/products" class="btn btn-lg btn-warning"
        ><i class="fal fa-door-open"></i> Enter</a
      >
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
