<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/product.css" />
<input type="hidden" id="_csrf" value="<%=csrfToken%>" />
<div id="error-caption" class="container mt-3">

</div>


<script type="text/javascript" src="/javascripts/script.js"></script>

<% include ../partials/footer %>